/* RUTA DEL ARCHIVO: frontend/src/app/pages/bibliotecario-dashboard/bibliotecario-dashboard.css */
:host {
    display: block;
    font-family: 'Inter', sans-serif;
}
/* La mayoría de los estilos ya están manejados por Tailwind en el HTML */